In [ ]:
# I manually checked the datatset it is a .csv file but columns are separated via ';' instead of ','. Also remember ';' within a string "" are not separators. Load the .csv accordingly in pandas df

In [2]:
import pandas as pd

df_tweets = pd.read_csv(
    "/kaggle/input/bitcoin-tweets-20160101-to-20190329/tweets.csv",
    delimiter=";",
    quotechar='"',
    encoding="utf-8",
    parse_dates=["timestamp"],
    dtype={
        "id": str,
        "user": str,
        "fullname": str,
        "url": str,
        "text": str
    }
)

df_tweets.head(10)

,id,user,fullname,url,timestamp,replies,likes,retweets,text
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00:00,0.0,0.0,0.0,√à appena uscito un nuovo video! LES CRYPTOMONN...
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00:00,0.0,0.0,0.0,Cardano: Digitize Currencies; EOS https://t.co...
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00:00,0.0,2.0,1.0,Another Test tweet that wasn't caught in the s...
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00:00,0.0,0.0,0.0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00:00,0.0,0.0,0.0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
5,1132977100309319680,0nurTOKA,üêªüî´üí•üêÇüöÄüôè,NaN,2019-05-27 11:49:25+00:00,0.0,0.0,0.0,#btc inceldiƒüi yerden kopsun bakalƒ±m 17:00 ye ...
6,1132977101638897665,evilrobotted,evilrobotted,NaN,2019-05-27 11:49:25+00:00,0.0,0.0,0.0,@nwoodfine We have been building on the real #...
7,1132977108836323330,jabur_guilherme,Guilherme Jabur,NaN,2019-05-27 11:49:27+00:00,0.0,0.0,0.0,"@pedronauck como investidor, vc √© um √≥timo dev..."
8,1132977131850350593,INTBICON,ÂÑÑ„Çä‰∫∫ÂΩºÊ∞è,NaN,2019-05-27 11:49:32+00:00,0.0,0.0,0.0,„Éñ„É©„Ç∏„É´„ÅØ„Åæ„ÅÅÁΩÆ„ÅÑ„Å®„ÅÑ„Å¶„ÇÇ„Éâ„Ç§„ÉÑ„ÅØÂ≠òÂú®ÊÑüÂá∫„Åó„Å¶„Åè„Çã„ÅÆ„Åã„Å™„ÄÇ„É≠„Ç∑„Ç¢„ÇÇ„Éû„Ç§„Éã„É≥„Ç∞„Å™„Å©„ÅßÂÖÉÊ∞ó„Å´„Å™„Çã...
9,1132977132714561536,MLWright15,ML Wright,NaN,2019-05-27 11:49:32+00:00,0.0,0.0,0.0,"CHANGE IS COMING...GET READY!!! Boom, Another ..."

In [3]:
df_prices = pd.read_csv("/kaggle/input/bitcoin-price-2014-2023/BTC-USD.csv", parse_dates=["Date"])
df_prices.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800

In [4]:
print(df_tweets.dtypes)
print(df_prices.dtypes)

id                        object
user                      object
fullname                  object
url                       object
timestamp    datetime64[ns, UTC]
replies                  float64
likes                    float64
retweets                 float64
text                      object
dtype: object
Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [5]:
def align_timeframes(df_tweets, df_prices, start_date, end_date):
    df_tweets = df_tweets[(df_tweets["timestamp"] >= start_date) & (df_tweets["timestamp"] <= end_date)]
    df_prices = df_prices[(df_prices["Date"] >= start_date) & (df_prices["Date"] <= end_date)]
    df_tweets = df_tweets.sort_values(by="timestamp")
    
    return df_tweets, df_prices

df_tweets, df_prices = align_timeframes(df_tweets, df_prices, "2016-01-01", "2018-12-31")

In [6]:
df_tweets.head(10)

,id,user,fullname,url,timestamp,replies,likes,retweets,text
2034700,682727959866793985,BTCtoUSD,Bitcoin to USD $,/BTCtoUSD/status/682727959866793985,2016-01-01 00:00:04+00:00,0.0,0.0,0.0,Current price: 431.05$ $BTCUSD $btc #bitcoin 2...
2034637,682727961171247104,BTCtoEUR,Bitcoin to EUR ‚Ç¨,/BTCtoEUR/status/682727961171247104,2016-01-01 00:00:05+00:00,0.0,0.0,0.0,Current price: 396.05‚Ç¨ $BTCEUR $btc #bitcoin 2...
2034669,682727962412716032,BTCtoGBP,Bitcoin to GPB,/BTCtoGBP/status/682727962412716032,2016-01-01 00:00:05+00:00,0.0,0.0,0.0,Current price: 291.77¬£ $BTCGBP $btc #bitcoin 2...
2034606,682728163860942849,priceofreddcoin,Price Of Reddcoin,/priceofreddcoin/status/682728163860942849,2016-01-01 00:00:53+00:00,0.0,0.0,0.0,#RDD / #BTC on the exchanges:\nCryptsy: 0.0000...
2034576,682728580133064704,TickerCrypto,Crypto Price Ticker,/TickerCrypto/status/682728580133064704,2016-01-01 00:02:32+00:00,0.0,0.0,0.0,#RDD / #BTC on the exchanges: Cryptsy: 0.00000...
2034513,682730152355311616,ProjectCoin,Project Coin,/ProjectCoin/status/682730152355311616,2016-01-01 00:08:47+00:00,0.0,0.0,2.0,"In the last 10 mins, there were arb opps spann..."
2034544,682730489153622016,BitcoinEdu,Bitcoin EDU,/BitcoinEdu/status/682730489153622016,2016-01-01 00:10:07+00:00,0.0,0.0,0.0,Buying USD$100 in Bitcoin 1 year ago [THEN: US...
2034482,682732670338613248,ProjectCoin,Project Coin,/ProjectCoin/status/682732670338613248,2016-01-01 00:18:47+00:00,0.0,0.0,1.0,"In the last 10 mins, there were arb opps spann..."
2034451,682735188464504833,ProjectCoin,Project Coin,/ProjectCoin/status/682735188464504833,2016-01-01 00:28:48+00:00,0.0,0.0,0.0,"In the last 10 mins, there were arb opps spann..."
2034387,682737706552692736,ProjectCoin,Project Coin,/ProjectCoin/status/682737706552692736,2016-01-01 00:38:48+00:00,0.0,0.0,1.0,"In the last 10 mins, there were arb opps spann..."

In [7]:
df_tweets.tail(10)

,id,user,fullname,url,timestamp,replies,likes,retweets,text
19338331,1079517574407188480,matettore,Joshua Matettore,NaN,2018-12-30 23:20:20+00:00,2.0,2.0,1.0,The magnitude between 1 million and 1 billion ...
2737010,1079534739365683200,ripplebot1h,RippleBot1h,/ripplebot1h/status/1079534739365683200,2018-12-30 23:28:33+00:00,0.0,0.0,0.0,2018-12-31 00:28:32.916407Z #Ripple #XRP:$0.37...
2736984,1079535129738072069,CryptoPriceCall,Crypto Price Trading 30m,/CryptoPriceCall/status/1079535129738072069,2018-12-30 23:30:06+00:00,0.0,0.0,0.0,$BTC : +0.00% 3862$\nTop (last h):\n$QKC : +7....
2736958,1079535153725300737,BisqArviraj,Ar Viraj,/BisqArviraj/status/1079535153725300737,2018-12-30 23:30:12+00:00,0.0,0.0,0.0,BUY\nPayment method: SEPA\nOffer ID: 2301442\n...
16865522,1079521187523379201,GAIN_GG,GAIN.GG,NaN,2018-12-30 23:34:42+00:00,155.0,108.0,142.0,**WAX KEY GIVEAWAY**\nFinal day of key giveawa...
2736933,1079538100085366784,bitcoinvaluebot,BitcoinValueBot,/bitcoinvaluebot/status/1079538100085366784,2018-12-30 23:41:54+00:00,0.0,2.0,0.0,Current Bitcoin Price\nAll Forks = $4134.00 -...
244445,1079539786140901376,EthereumJesus,Ethereum Jesus ‚ü† ¬†üôåüèª,/EthereumJesus/status/1079539786140901376,2018-12-30 23:48:36+00:00,0.0,6.0,0.0,"""At the time of this writing the value of a bi..."
2736906,1079539905318084608,tr_ticker,Tr Ticker Bot,/tr_ticker/status/1079539905318084608,2018-12-30 23:49:04+00:00,0.0,0.0,0.0,#Doviz\n-------------------\n#USD : 5.2733\n#E...
2736830,1079540722855018497,TanaPicks,TanaPicks | Ê£öÂéüÁøîÂπ≥„Éñ„É≠„Ç∞,/TanaPicks/status/1079540722855018497,2018-12-30 23:52:19+00:00,0.0,0.0,0.0,Bitcoin&NEMÁõ∏Â†¥ÊÉÖÂ†±(Zaif)\n\nbtc/jpy ( https://zai...
2736883,1079542158753812481,cointrend_jp,COINTREND,/cointrend_jp/status/1079542158753812481,2018-12-30 23:58:02+00:00,0.0,0.0,0.0,„ÉÑ„Ç§„Éº„ÉàÊï∞„ÅÆÂ§ö„Åã„Å£„Åü‰ªÆÊÉ≥ÈÄöË≤®\n1‰Ωç $BTC 436 Tweets\n2‰Ωç $XRP 17...

In [8]:
df_prices.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
471,2016-01-01,430.721008,436.246002,427.515015,434.334015,434.334015,36278900
472,2016-01-02,434.622009,436.062012,431.869995,433.437988,433.437988,30096600
473,2016-01-03,433.578003,433.743011,424.705994,430.010986,430.010986,39633800
474,2016-01-04,430.061005,434.516998,429.084015,433.091003,433.091003,38477500
475,2016-01-05,433.069000,434.182007,429.675995,431.959991,431.959991,34522600
476,2016-01-06,431.855988,431.855988,426.341003,429.105011,429.105011,34042500
477,2016-01-07,430.010986,458.765991,429.076996,458.048004,458.048004,87562200
478,2016-01-08,457.537994,462.933990,447.937988,453.230011,453.230011,56993000
479,2016-01-09,453.382996,454.640015,446.889008,447.610992,447.610992,32278000
480,2016-01-10,448.238007,448.308990,440.351013,447.990997,447.990997,35995900

In [9]:
import re

def clean_tweet(text):
    if isinstance(text, str): 
        text = re.sub(r"http\S+|@\S+|#\S+", "", text) 
        text = re.sub(r"[^a-zA-Z0-9\s]", "", text) 
        return text.strip()
    return "" 

df_tweets["text"] = df_tweets["text"].apply(clean_tweet)

In [10]:
df_tweets.describe()

            replies         likes      retweets
count  3.464227e+06  3.464227e+06  3.464227e+06
mean   3.088366e-01  2.720349e+00  1.264540e+00
std    1.898595e+01  2.399017e+02  1.209558e+02
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00  0.000000e+00
max    2.275900e+04  2.829590e+05  1.812400e+05

In [11]:
df_prices.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,1096,1096.000000,1096.000000,1096.000000,1096.000000,1096.000000,1.096000e+03
mean,2017-07-01 12:00:00,4043.093933,4165.709738,3904.582369,4045.766068,4045.766068,2.841598e+09
min,2016-01-01 00:00:00,365.072998,374.950012,354.914001,364.330994,364.330994,2.851400e+07
25%,2016-09-30 18:00:00,663.334000,673.189988,653.622253,664.227020,664.227020,9.146307e+07
50%,2017-07-01 12:00:00,2575.190064,2672.555054,2510.349976,2582.944946,2582.944946,1.180765e+09
75%,2018-04-01 06:00:00,6618.919922,6747.695068,6513.099975,6619.225098,6619.225098,4.577960e+09
max,2018-12-31 00:00:00,19475.800781,20089.000000,18974.099609,19497.400391,19497.400391,2.384090e+10
std,NaN,3958.937939,4112.596780,3767.092195,3957.190296,3957.190296,3.741673e+09

In [12]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3464227 entries, 2034700 to 2736883
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   id         object
 1   user       object
 2   fullname   object
 3   url        object
 4   timestamp  datetime64[ns, UTC]
 5   replies    float64
 6   likes      float64
 7   retweets   float64
 8   text       object
dtypes: datetime64[ns, UTC](1), float64(3), object(5)
memory usage: 264.3+ MB

In [13]:
df_prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1096 entries, 471 to 1566
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1096 non-null   datetime64[ns]
 1   Open       1096 non-null   float64
 2   High       1096 non-null   float64
 3   Low        1096 non-null   float64
 4   Close      1096 non-null   float64
 5   Adj Close  1096 non-null   float64
 6   Volume     1096 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 68.5 KB

In [ ]:
df_tweets.to_csv("tweets_data.csv", index=False)
df_prices.to_csv("prices_data.csv", index=False)